/* reset css */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* importing fonts */
@font-face {
    font-family: Roboto-Black;
    src: url("/assets/fonts/Roboto/Roboto-Black.ttf");
}
@font-face {
    font-family: Roboto-BlackItalic;
    src: url("/assets/fonts/Roboto/Roboto-BlackItalic.ttf");
}
@font-face {
    font-family: Roboto-Bold;
    src: url("/assets/fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
    font-family: Roboto-BoldItalic;
    src: url("/assets/fonts/Roboto/Roboto-BoldItalic.ttf");
}
@font-face {
    font-family: Roboto-Italic;
    src: url("/assets/fonts/Roboto/Roboto-Italic.ttf");
}
@font-face {
    font-family: Roboto-Light;
    src: url("/assets/fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
    font-family: Roboto-LightItalic;
    src: url("/assets/fonts/Roboto/Roboto-LightItalic.ttf");
}
@font-face {
    font-family: Roboto-Medium;
    src: url("/assets/fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
    font-family: Roboto-MediumItalic;
    src: url("/assets/fonts/Roboto/Roboto-MediumItalic.ttf");
}
@font-face {
    font-family: Roboto-Regular;
    src: url("/assets/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
    font-family: Roboto-Thin;
    src: url("/assets/fonts/Roboto/Roboto-Thin.ttf");
}
@font-face {
    font-family: Roboto-ThinItalic;
    src: url("/assets/fonts/Roboto/Roboto-ThinItalic.ttf");
}

/* main divs styling for parallax effect */
.parallax-wrapper{
    color: #f6f5f4;
    font-size: 3rem;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
}

.parallax-group{
    position: relative;
    height: 100vh;
    width: 100vw;
    transform-style: preserve-3d;
}
/*  */

/* layers perspective */
.mid-layer{
    transform: translateZ(0) scale();
}
.top-layer{
    transform: translateZ(210px) scale(0.3);
}
.topper-layer{
    transform: translateZ(300px) scale(0.5);
}

/* Intro Screen */
.intro-screen{
    height: 150vh;
    width: 100vw;
    background-color: #f6f5f4;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: +1;
}

.image-layer{
    position: absolute;
    width: 80%;
    top: 38%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: -1;
}

.text-layer {
    padding: 100px;
    position: absolute;
    top: 39%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 7rem;
}
.word1{
    font-family: Roboto-Bold;
}
.word2{
    font-family: Roboto-Thin;
}
.intro-brain{
    width: 27%;
}
/* END */

